<style>
    .login-form {
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        margin-top: 100px;
        text-align: center;
    }
    .login-form h5 {
        text-align: center;
        color: green;
        padding: 10px;
    }
    .input-group {
        padding: 10px;
        margin-bottom: 5px;
        width: 90%;
        position: relative;
    }
    .input-group label {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 10px;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
    }
    .input-group input {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        background: rgba(0, 128, 0, 0.3);
        color: #fff;
        outline: none;
        border: none;
        font-size: 1.5rem;
    }

    .input-group input::placeholder {
        color: #fff;
    }
    .login-form button {
        border: none;
        outline: none;
        border-radius: 8px;
        background: green;
        color: #fff;
        padding: 10px;
        width: 90%;
        margin-bottom: 20px;
    }
    .create-account {
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        margin-top: 30px;
        padding: 10px;
        padding-left: 0;
        text-align: center;
    }
    .next-button {
        display: none;
    }
    .create-account h1 {
        color: green;
    }
</style>
<div class="create-account" style="margin-top: 45px;">
        <div class="create-account-btns">
          <h1>
      <i class="fas fa-user-plus"></i> Register
    </h1>
    <%- include ('./partials/messages') %>
    <form action="/users/register" method="POST">
      <div class="form-container">
      <div class="input-group">
        <div class="input-data">

          <label for="name" style="color: #fff"> First Name</label>
          <input
          type="name"
          id="fname"
          name="fname"
          class="input-control login-input"
          placeholder="Enter First Name"
          value="<%= typeof name != 'undefined' ? fname : '' %>"
          />
        </div>
        <div class="next-button">
          <p><i class="fas fa-angle-double-right"></i></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-data">

          <label for="name" style="color: #fff"> Last Name</label>
          <input
          type="name"
          id="lname"
          name="lname"
          class="input-control login-input"
          placeholder="Enter Last Name"
          value="<%= typeof name != 'undefined' ? lname : '' %>"
          />
        </div>
        <div class="next-button">
          <p><i class="fas fa-angle-double-right"></i></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-data">

          <label for="email" style="color: #fff">Email</label>
          <input
          type="email"
          id="email"
          name="email"
          class="input-control login-input"
          placeholder="Enter Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="next-button">
          <p><i class="fas fa-angle-double-right"></i></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-data">

          <label for="password" style="color: #fff">Password</label>
          <input
          type="password"
          id="password"
          name="password"
          class="input-control login-input"
          placeholder="Create Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="next-button">
          <p><i class="fas fa-angle-double-right"></i></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-data">

          <label for="password2" style="color: #fff">Confirm Password</label>
          <input
          type="password"
          id="password2"
          name="password2"
          class="input-control login-input"
          placeholder="Confirm Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="next-button">
          <p><button type="submit"><i style="color: rgba(255, 255, 255, 0.7); text-shadow: 0 0 2px rgba(0, 128, 0, 0.726);" class="fas fa-sign-in-alt"></i></button></p>
        </div>
      </div>
    </div>
    </form>
</div>
</div>
<div class="create-account">
    <p class="lead mt-4">Have An Account? <a href="/users/login" style="color: #fff; text-decoration: none;">Login</a></p>
</div>